@charset "utf-8";
/* CSS Document */
#head
{
	background-color:#A587B8;
	height:140px;
	padding-top:2px
}

#heading
{	
	font-size:36px;

}
	
#logout
{
	float:right;
	height:25px;
	width:10%; 
	background:#723E8E
}
#pic
{
	width:70%;
	height:376px; 
	float:left
}

#body 
{
	height:276px; 
	float:right; 
	background-color: #2CCDFC; 
	width:30%; 
	padding-top:100px; 
}

#footer
{
	margin-top:385px
}

#newusr
{
	font-size:12px 
}

#ftext
{
	font-size:9px
}

#nw2
{
	font-size:13px;
	color:#FF0033 
}